<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href='/src/ico/favicon.ico' type="image/x-icon">
    <title>Contaro</title>
    <link rel="stylesheet" href="/src/css/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <section class="Cabecalho container-full">
        <div class="topo text-center">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-12 bg-warning p-4 text-right fs-3 fw-bold text-end text-white">
                    Muito mais que uma escola
                    família</div>
                <div class="col-md-3 col-lg-3 col-xs-12 bg-primary p-4 text-center fs-3">
                    <div class="redes text-end">
                        <nav>
                            <a href="https://www.instagram.com/institutomagister/"><img src="/src/img/Insta.png" alt="" width="60px"></a>
                            <a href="https://www.facebook.com/MagisterdeEnsino"><img src="/src/img/face.png" alt="" width="60px"></a>
                            <a href="https://api.whatsapp.com/send/?phone=%2B558621072202&text&app_absent=0"><img src="/src/img/whasapp.png" alt="" width="60px"></a>
                            <a href="https://maps.app.goo.gl/RAJ327V7vxyiFZve8"><img src="/src/img/localização.png" alt="" width="60px"></a>
                        </nav>

                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-12 bg-primary p-4 text-center fs-3 ">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Potal dos professores
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href=https://ensinecades.inforgeneses.com.br/ensine_cades_novo/login/instituicao/magpr>Portal Professor Primavera</a></li>
                            <li><a class="dropdown-item" href=https://ensinecades.inforgeneses.com.br/ensine_cades_novo/login/instituicao/mbv>Portal Professor Bela Vista</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Portal dos Alunos
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href=https://estudecades.inforgeneses.com.br/estude_cades_novo/login/instituicao/magpr>Portal Aluno Primavera</a></li>
                            <li><a class="dropdown-item" href=https://estudecades.inforgeneses.com.br/estude_cades_novo/login/instituicao/mbv>Portal Aluno Bela Vista</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="MenuPrncipal container-xll" width='1080px'>

        <div class="row text-center mt-3">
            <div class="col-md-2 col-lg-2 col-xs-12"><a href=""><img src="/src/img/Ativo 2.png" alt="" width="100px"></a>
            </div>
            <div class="col-md-8 col-lg-8 col-xs-12 fs-4 mt-4">
                <nav class="navbar navbar-expand-xxl navbar-lite bg-lite">

                    <div class="collapse navbar-collapse" id="navbarsExampleXxl">
                        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="/index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/templates/instituicao.html">Instituição</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/templates/historia.html">História</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/templates/ensino.html">Ensino</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/templates/contato.html">Contato</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/templates/politica.html">Política de Privacidade</a>
                            </li>
                            <a class="nav-link active" href="/templates/matricula.html">Matricula</a>
                            </li>
                           
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </section>
    <section class="banner container-full m-5">
        <img src="/src/img/contato.jpg" class="img mt-3" width="100%" alt=".....">
    </section>

    <section class="secaoContato">
        
        <div class="contato container my-5 ">
            <h3 class="mb-5">Contato</h3>
            <div class="container">
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-xs-12 fs-5">
                        <h3 class="mb-4">Entre em contato conosco ao completar o formulário.</h3>
                        <h5 class="mb-4">
                            Serviço de Atendimento ao Cliente (SAC)</h5>
                        <p>
                            Nossa Ouvidoria atua na defesa dos interesses e direitos dos alunos, pais e funcionários 
                            da instituição, sendo o canal apropriado para receber suas opiniões, avaliá-las e 
                            encaminhá-las às áreas responsáveis. Clique aqui!
                        </p>
                        <p>
                            Se preferir, entre em contato diretamente com a Ouvidora, Fernanda Maciel, pelo e-mail:
                            ouvidoria@faespi.com.br
                        </p>

                    </div>

                  <div class="col-md-8 col-lg-8 col-xs-12">
                    <div class="form">
                        <form action="https://formsubmit.co/ajax/nti@faespi.com.br" method="post" data-form>
                            <label for="nome">Nome*:</label>
                            <input type="text" id="nome" name="nome" required>
                            
                            <label for="email">Email*:</label>
                            <input type="email" id="email" name="email" required>
                            
                            <label for="telefone">DDD+Telefone*(Apenas os números):</label>
                            <input type="tel" id="telefone" name="telefone" required>
                            
                            <label for="assunto">Assunto*:</label>
                            <input type="text" id="assunto" name="assunto" required>
                            
                            <label for="unidade">Selecione a unidade</label>
                            <select id="unidade" name="unidade" required>
                                <option value="separador"> ----- </option>
                                <option value="Unidade Primavera">Unidade Primavera</option>
                                <option value="Unidade Bela Vista">Unidade Bela Vista</option>
                            </select>
                            
                            <label for="mensagem">Mensagem:</label>
                            <textarea id="mensagem" name="mensagem" rows="4" required></textarea>
                            
                            <button type="submit" class='btn btn-primary mt-5' data-button>Enviar</button>
                            
                        </form>
                    </div>
                  </div>

                </div>
            </div>

        </div>

    </section>

    <section class="footer container-fluid bg-dark fw-bold text-center text-white p-5">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="tboldy text-start">
                    <div class="tr">
                        <div class="td fs-4">Instituto Magister de Ensino</div>
                        <div class="td">
                            <hr width="50px">
                        </div>
                        <div class="td"><a
                                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                href="/index.html">Pagina Inicial</a></div>
                        <div class="td"><a
                                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                href="/templates/instituicao.html">Instituição</a></div>
                        <div class="td"><a
                                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                href="/templates/historia.html">Historia</a></div>
                        <div class="td"><a
                                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                href="/templates/matricula.html">Matricula</a></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="tboldy text-start">
                    <div class="tr">
                        <div class="td fs-4">Ensino</div>
                        <div class="td">
                            <hr width="50px">
                        </div>
                        <div class="td"><a
                                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                href="/templates/infantil.html">Educação Infantil</a></div>
                        <div class="td"><a
                                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                href="/templates/fundamentalI.html">Ensino Fundamental I</a></div>
                        <div class="td"><a
                                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                href="/templates/fundamentalII.html">Ensino Fundamental II</a></div>
                        <div class="td"><a
                                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                href="/templates/medio.html">Ensino Médio</a></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="tboldy text-start">
                    <div class="tr">
                        <div class="td fs-4">Contato:</div>
                        <div class="td">
                            <hr width="50px">
                        </div>
                        <div class="td"><a
                            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                            href="/templates/contato.html">Fale Conosco</a></div>
                        <div class="td"><a
                            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                            href="https://api.whatsapp.com/send/?phone=%2B558621072202&text&app_absent=0">Whasapp</a></div>
                        <div class="td"><a
                            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                            href="https://maps.app.goo.gl/RAJ327V7vxyiFZve8">loalização Unidade Primavera</a></div>
                        <div class="td"><a
                            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                            href="https://maps.app.goo.gl/ZKDFG25Fh2kdXy8DA">loalização Unidade Bela Vista</a></div>

                    </div>
                </div>
            </div>

            <div class="col"></div>
        </div>
        <p class="mt-5">
            Instituto Magister de Ensino ©2023. Todos os direitos reservados.
        </p>
    </section>

    <script src="/src/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    
</body>

</html>